.memory-game {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.memory-game-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-game .card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  width: 120px;
  height: 150px;
  border: 2px solid gray;
  border-radius: 8px;
  cursor: pointer;
}

.memory-game .card:hover {
  background-color: rgb(217, 217, 217);
}

.memory-game .game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  gap: 16px;
}
